@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: rgb(40, 45, 82);
}

a {
    color: rgb(40, 45, 82);

}

h1,
h2 {
    margin: 1em 0 0.5em;
    font-weight: 600;
}

h1 {
    font-size: 3em;
    font-weight: 500;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

.forecast-day {
    text-align: center;
    margin-bottom: 3em;
}

.forecast-day--row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: 3px;
    background: url("/img/bg_day.jpg");
    background-size: cover;
}

.forecast-item {
    container: forecast--item / inline-size;
    display: grid;
    grid-template-rows: repeat(2, 1fr) 2fr;
    justify-items: center;
    border-radius: 4px;
    outline: 3px solid white;
    align-items: center;
    color: white;
}

.forecast-item:nth-child(n+3):nth-child(-n+6) {
    grid-column: span 2;
}

.forecast-item img {
    width: 50%;
    max-width: 70px;
}

.forecast-item--temperature span {
    position: relative;
    top: 8px;
    font-size: 0.4em;
    font-weight: 500;
    vertical-align: text-top;
}

.forecast-item--empty {
    background-color: rgba(255, 255, 255, 0.4);
}

.forecast-item--hours {
    display: none;
}

.forecast-item--fulltime {
    display: inline-block;
}

.forecast-item--temperature {
    font-size: 4em;
    font-weight: 300;
}

.city-selector {
    position: relative;
    width: 300px;
}

.city-selector input {
    width: 100%;
    padding: 0.7em 1em;
    border-radius: 1em;
    font-size: 1em;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: rgb(40, 45, 82);
    border: none;
    background-color: rgb(236, 236, 236);
}

.city-selector--suggestion {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0px;
    z-index: 10;
    background-color: white;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
    border-radius: 1em;
}

.city-selector--suggestion li {
    margin: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 0.5em;
}

.city-selector--suggestion li:hover {
    background-color: rgb(225, 238, 246);
}

footer {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

@container forecast--item (max-width: 130px) {
    .forecast-item img {
        width: 30%;
        margin-top: 2em;
    }

    .forecast-item--temperature,
    .forecast-item--temperature span {
        top: 0px;
        font-size: 1em;
        font-weight: 500;
    }

    .forecast-item--hours {
        display: inline-block;
    }

    .forecast-item--fulltime {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .forecast-day--row {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 180px;
        grid-auto-rows: 180px;
    }

    .forecast-item:nth-child(n+3):nth-child(-n+6) {
        grid-column: span 1;
    }

    .forecast-item img {
        width: 40%;
        margin-top: 0em;
    }

    footer {
        flex-direction: column-reverse;
        gap: 0.5em;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .forecast-day--row {
        grid-template-columns: 1fr;
        grid-template-rows: 80px;
        grid-auto-rows: 80px;
        background-image: url("/img/bg_day_mobile.jpg");
    }

    .forecast-item--empty {
        display: none;
    }

    .container {
        padding: 0.5em;
    }

    .forecast-item:nth-child(n+3):nth-child(-n+6) {
        grid-column: span 1;
    }

    .forecast-item {
        font-size: 1.5em;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .forecast-item--temperature,
    .forecast-item--temperature span {
        top: 0px;
        font-size: 1em;
        font-weight: 500;
    }

    .forecast-item img {
        width: 40px;
    }
}